* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 80px;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 82.5px;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #000;
    font-weight: 550;
    font-size: 18px;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: var(--height-header);
    padding: 0px 20px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    background-color: #fff;
    min-width: 300px;
    position: absolute;
    top: 103%;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

#nav, .subnav {
    list-style-type: none;
}

#nav .subnav li {
    border-bottom: 1px solid #ccc;
}

#nav .subnav a {
    color: #000;
    line-height: 40px;
    padding: 0 16px;
}

#header-img {
    height: var(--height-header);
    width: 250px;
    object-fit: contain;
}

#nav li:hover > a {
    color: #d72229;
}

#nav > li:hover {
    border-bottom: 3px solid #d72229;
}

#nav .subnav li:hover {
    background-color: rgba(220,220,220,0.5);
}

#nav .subnav li:hover > a {
    padding: 0 22px;
}

header .seach-btn > .fa-solid {
    font-size: 24px;
    line-height: var(--height-header);
    color: #d72229;

}

header .seach-btn {
    float: right;
}

header .seach-btn:hover {  
    cursor: pointer;
}

#seach-input {
    display: none;
    font-size: 15px;
    text-align: center;
    border-style: none;
    padding: 0 5px;
}

.title-box {
    margin-top: 150px;
    position: relative;
    width: 100%;
    margin-top: var(--height-header);    
    background-image: url("../img/pphoc-title-bgr.jpg");
    background-size: cover;
}

.title-box h1 {
    font-size: 48px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px 84px;
}

#content {
    padding: 30px 0px;
    background-image: url("../img/pphoc-content-bgr.png");
    background-size: cover;
    padding-bottom: 150px;
}

.container {
    margin: 0 280px;
    margin-left: 320px;
}
  
#content h2 {
    margin-top: 28px;
    font-size: 28px;
    color: #d72229;
    font-weight: 600;
    text-transform: uppercase;
}
  
#content h3 {
    margin-left: 24px;
    margin-top: 16px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d72229;
    display: inline-block;
    padding: 8px 24px;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bolder;
}
  
#content li {
    font-weight: normal;
    color: #000;
    list-style: none;
    padding: 10px 30px;
    background-image: url("../img/pphoc-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

#content ul {
    margin-top: 16px;
    margin-left: 48px;
}


/*Footer*/
.media{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
    .house{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #a1a1a1;
}
.tel{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #a1a1a1;
}
.addr{
    color:#fff;
    font-size: 16px;
    line-height: 40px; 
    padding-left: 20px;
}