* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 80px;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 82.5px;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #000;
    font-weight: 550;
    font-size: 18px;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: var(--height-header);
    padding: 0px 20px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    background-color: #fff;
    min-width: 300px;
    position: absolute;
    top: 103%;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

#nav, .subnav {
    list-style-type: none;
}

#nav .subnav li {
    border-bottom: 1px solid #ccc;
}

#nav .subnav a {
    color: #000;
    line-height: 40px;
    padding: 0 16px;
}

#header-img {
    height: var(--height-header);
    width: 250px;
    object-fit: contain;
}

#nav li:hover > a {
    color: #d72229;
}

#nav > li:hover {
    border-bottom: 3px solid #d72229;
}

#nav .subnav li:hover {
    background-color: rgba(220,220,220,0.5);
}

#nav .subnav li:hover > a {
    padding: 0 22px;
}

header .seach-btn > .fa-solid {
    font-size: 24px;
    line-height: var(--height-header);
    color: #d72229;
}

header .seach-btn {
    float: right;
}

header .seach-btn:hover {  
    cursor: pointer;
}

#seach-input {
    display: none;
    font-size: 15px;
    text-align: center;
    border-style: none;
    padding: 0 5px;
}

#slider {
    margin-top: 150px;
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: var(--height-header);
}

#slider img {
    width: 100%;
    display: block;
}

.slider-button::after {
    color: #fff !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after { 
    color: #ccc;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px;
    font-weight: bold;
}

.swiper-pagination-bullet-active {
    background-color: #880808;
}

.swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    border-radius: 20px;

}

#introduce {
    width: 100%;
    height: 450px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vid {
    margin: 75px;
}

.intro-content {
    margin: 70px 100px 0px 0px;
}
.intro-content h1 {
    text-transform: uppercase;
    color: #d72229;
    padding-bottom: 30px;
}

.intro-content .slogan {
    font-size: 24px;
    color: #d72229;
    font-weight: 550;
    font-style: italic;
}

.intro-content .gach {
    width: 90px;
    height: 10px;
    background-color: #d72229;
    margin: 20px 0px;
}

.intro-document {
    font-style: italic; 
    text-align: justify;
    font-size: 18px;
    margin-bottom: 15px;
}
.intro-footer {
    font-size: 18px;
    margin-top: 8px;
}

.feature > img {
    height: 380px;
    width: 95%;
    margin: 20px;
    padding-left: 20px;
}

.container {
    padding-top: 50px;
    border: 3px solid #d72229;
    border-radius: 30px;
    margin: 50px 30px;

}

.title1{
    color:#d72229;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.row{
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    padding-left: 0px;
    padding-bottom: 50px;
}
.container img{
    height:50px;
    width:50px;
}
.item{
    display:flex;
    padding-left: 0px;
}
.row{
    display:flex;
    justify-content: space-around;
}
.title{
    font-size: 45px;
    color:#d72229;
}
.nd{
    padding-left:10px;
    line-height: 40px;
}
.d1{
    padding-right:50px;
}
.d11{
    padding-right: 110px;
}
.d111{
    padding-right: 50px;
}

.content-title h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d72229; 
    font-size: 26px; 
    line-height: 35px; 
    font-weight: 750; 
    text-transform: uppercase;
    margin-bottom: 15px;
}

.khoahoc {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 120px;
}

.khoahoc-item {
    height: 440px;
    width: 340px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 2px #22222217;
    overflow: hidden;
}

.khoahoc-item:hover  .khoahoc-img{
    filter: brightness(0.8);
}

.khoahoc-img {
    width: 340px;
    height: 250px;
    transition: all .3s ease;
    border-radius: 10px;
    object-fit: cover;
}

.khoahoc-infor {
    padding: 0px 20px;
}

.khoahoc-title {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0px;
}

.khoahoc-title:hover {
    color: #d72229;
}

.khoahoc-content {
    padding-bottom: 20px;
}

.star {
    display: inline-block;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.star > .fa-solid {
    color: #d72229;
}

.khoahoc-link {
    display: inline-block; 
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.khoahoc-link > a {
    color: #d72229;
    display: inline-block;
}

.giangvien {
    height: 1500px;
    background-image: url("../img/giangvien-bgr.png");
    padding-top: 50px;
}

.gv-img {
    object-fit: cover;
    width: 85%;
    margin-top: 18px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px -2px rgb(0 0 0 / 40%);
}

.giangvien-item {
    max-width: 350px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px 8px -2px rgb(0 0 0 / 60%);
    background-color: #fff;
}

.giangvien-content {
    margin: 0 80px;
}

.item-row1, .item-row2 {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gv-infor > ul {
    list-style-position: outside;   
    text-align: justify;
    padding: 0px 40px 50px;
}

.gv-infor > ul > li {
    line-height: 1.5;
}

.why-us{
    background-color: #f8f9fa;
    height: 400px;
    padding: 30px 50px;  
}

.why-us-img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.cnt{
    font-size: 16px;
    line-height: 30px;
}

.row-item:hover {
    color: #d72229;
}

.feel{
    background-color: #f8f9fa;
    margin-top: 30px;
    padding: 40px 0px; 
}

.sld{
    padding-left: 40px;
}

.media{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.house{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #a1a1a1;
}
.tel{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #a1a1a1;
}
.addr{
    color:#fff;
    font-size: 16px;
    line-height: 40px; 
    padding-left: 20px;
}